<nav class="navbar navbar-expand-sm kaboodles-breadcrumbs">
  <a href="/tools/my-kaboodles/{{user.uid}}">My Kaboodles</a> &nbsp; &gt;&gt; &nbsp; <a href="/tools/kaboodle/dashboard/{{node.nid}}">{{ node.title }}</a> &nbsp; &gt;&gt; &nbsp; {{ product.name }}
</nav>