{#% include 'breadcrumbs.html.twig' %#}
<div class="my-kaboodles kaboodles-dashboard">
  <div class="kaboodles-container main-block d-flex w-100 ff-rw">
    <div class="col-lg-2 left-block">
      {% include 'leftnav.html.twig' %}
    </div>
    
    <div class="col-lg-10 plr0">
      <!--product heading and menu-->
      <div>
        <div class="header-box">
          <div class="bgw d-flex w-100 space-bw product-header-container">
            <div class="product-heading">
              <h1>{{ product.name }}</h1>
              <div>The product is under development process. It will be coming soon.</div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    
  </div>
</div>