
<div class="my-kaboodles">
  <div class="kaboodles-top-block">
    <div class="kaboodles-container-head kaboodles-top-block-container">
      <!--kaboodles heading and menu-->
      <div class="my_kaboodle-head ai-center d-inlineflex w-100 space-bw">
        <div class="kaboodles-heading">
          <h1>{{kaboodle_title}} - NOTIFICATIONS</h1>
        </div>
        <div class="kaboodles-menu">
          <ul>
            <li><a href="/tools/media/vault/{{ uid }}">Media Vault</a></li>
          </ul>
        </div>
        <div class="select-box-element row justify-content-between pl-3 pr-3" data-reactid=".1.0"><div class="justify-content-start" data-reactid=".1.0.0"><ul class="d-flex justify-content-center align-items-center" data-reactid=".1.0.0.0"><li data-reactid=".1.0.0.0.0"><label class="checkbox-container" data-reactid=".1.0.0.0.0.0"><input type="checkbox" id="audio-check-audio" class="box-check" data-filetype="audio" data-reactid=".1.0.0.0.0.0.1"><span class="checkmark" data-reactid=".1.0.0.0.0.0.2"></span><span class="desc" data-reactid=".1.0.0.0.0.0.0">Select All</span></label></li></div><div class="justify-content-end" data-reactid=".1.0.1"><ul class="d-flex justify-content-center align-items-center" data-reactid=".1.0.1.0"><li class="search-box border-right-0 d-flex" data-reactid=".1.0.1.0.0"><span class="search-ico" data-reactid=".1.0.1.0.0.0"></span><input type="text" id="filter-audio" class="filter pl-1" data-filetype="audio" placeholder="SEARCH BY FEATURE OR MESSAGE" data-reactid=".1.0.1.0.0.1"><span class="clear-text d-none" data-reactid=".1.0.1.0.0.2">x</span><button id="filter-by-favo-audio" type="button" class="filter-favo media-favo-676767 round-button inactive" data-reactid=".1.0.1.0.0.3"></button><button id="filter-btn-audio" type="submit" class="btn btn-primary filter-btn text-uppercase align-baseline font-fjalla" data-reactid=".1.0.1.0.0.4">Apply</button></li></ul></div></div>
      </div>
    </div>
  </div>
  <div class="kaboodles-mid-block">
    <div class="kaboodles-container d-flex w-100 ff-rw">
      <div class="col-lg-12">
        <div class="default_message text-center">
          <span>You currently have no notifications.</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-kaboodles-pager">{{pager}}</div>
