
<div class="my-kaboodles">
  <div class="kaboodles-top-block">
    <div class="kaboodles-container-head kaboodles-top-block-container">
      <!--kaboodles heading and menu-->
      <div class="my_kaboodle-head ai-center d-inlineflex w-100 space-bw">
        <div class="kaboodles-heading">
          <h1>{{kaboodle_title}} - REPORTS</h1>
        </div>
        <div class="kaboodles-menu">
          <ul>
            <li><a href="/tools/media/vault/{{ uid }}">Media Vault</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="kaboodles-mid-block">
    <div class="kaboodles-container d-flex w-100 ff-rw">
      <div class="col-lg-12">
        <div class="default_message text-center">
          <span>You currently have no reports for this Kaboodle.</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-kaboodles-pager">{{pager}}</div>
