		<div class="w-100 mb-2" id="media-kit-options-profile"></div>
		<input type="hidden" id="mediakitid-profile" value="">
		<div id="media-profile-pic-selector-wrapper" class="custom-nav-layout w-100">
		  <nav>
		    <div class="nav nav-tabs nav-fill" id="nav-tab-list" role="tablist">
		      <a class="nav-item nav-link active" id="nav-photo-tab-profile" data-toggle="tab" href="#nav-photo-kit-profile" role="tab" aria-controls="nav-photo-kit-profile" aria-selected="false">Photo</a>
		    </div>
		  </nav>
		  <div class="tab-content">
		    <div class="tab-pane fade show active" id="nav-photo-kit-profile" role="tabpanel" aria-labelledby="nav-photo-kit-tab">
		      <div class="tb-tab-content" id="photo-kit-content-section-profile">
		        <div class="km-loader"></div>
		      </div>
		    </div>
		  </div>
		</div>