<div class="media-design-wrapper position-relative">
  <div id="product-library" class="h-100">
    <div class="progress-overlay">
      <!--<div class="spinner-border"></div>-->
      <div class="km-loader"></div>
    </div>      
  </div>
</div>