<div id="left-sidebar">
  <div class="left-panel">
    <div class="sidebar-selector d-flex">
      <div class="sidebar-option text-uppercase d-flex justify-content-center align-items-center sidebar-layers c-pointer">Layers</div>
      <div class="sidebar-option text-uppercase d-flex justify-content-center align-items-center sidebar-library c-pointer">Resources</div>
      <div class="sidebar-option text-uppercase d-flex justify-content-center align-items-center sidebar-symbols media-kit-image-list c-pointer">Assets</div>
    </div>
    
    <div class="sidebar-container sidebar-layers align-items-stretch flex-column multiple" style="display: none;">
    </div>
    
    <div class="sidebar-container sidebar-library resources-library multiple" style="display: none;">
    </div>
    
    <div class="sidebar-container sidebar-symbols media-kit-images multiple empty" style="display:none;">
      <div class="progress-overlay">
        <div class="spinner-border"></div>
      </div>
    </div>
    
    
  </div>    
</div>