<h1>Media Kit Selector by Services</h1>
<div class="row">
  <div class="col-lg-5">{{ variables.media_kit_one }}</div>
  <div class="col-lg-3">{{ variables.media_kit_three }}</div>
  <div class="col-lg-4">{{ variables.media_kit_two }}</div>
</div>
