#popup-load-img{
	display: none;
	position: absolute;
	left: 30%;
}
.loading-image {
	/*position: absolute;
	left: 25%;*/
	text-align: center;
}
.c_area {
	/*margin-left: 2%;*/
	width: 95%;
}
#popup {
	left: 20px;
	position: absolute;
	/*top: 50px !important;*/
	z-index: 9999;
	opacity: 1;
	display: none;
	background: #fff;
	width: 97%;
}
