.page-cbone-home .sticky-wrapper{display: none;}
.page-cbone-home .container{width: 100%; padding: 0px; text-align: center; background-image: url(https://d293rdt04oz7au.cloudfront.net/sites/default/files/CB-ONE-front-landing-background_0.jpg); background-position: center top; margin-top: -20px; background-size: cover; background-repeat: no-repeat !important;}
.page-cbone-home .home-search-wrapper .container{background: none;}
.home-search-wrapper {margin-top: 60px !important;}
